@model OrderVM
<form method="post">
    <div class="card shadow border-0 mt-2 mb-4">
    <input asp-for="OrderHeader.Id" hidden/>
        <div class="card-header bg-success bg-gradient m-lg-0 py-2 rounded">
            <div class="row">
               
                    <div class="col-12 d-none d-md-block col-md-6 py-3 text-white">
                        <i class="bi bi-cart-fill"></i> &nbsp; Ordersammanställning
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 py-3 text-right">
                        <a asp-action="Index" class="btn btn-outline-light rounded form-control btn-sm">Tillbaka till orderlistan</a>
                    </div>
               
            </div>
        </div>
        <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-success">Leveransdetaljer:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Förnamn</div>
                                <div class="col-9">
                                    @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input asp-for="@Model.OrderHeader.FirstName" type="text" class="form-control" />
                                        <span asp-validation="@Model.OrderHeader.FirstName" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.FirstName" readonly type="text" class="form-control" />
                                    }

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Efternamn</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input asp-for="@Model.OrderHeader.LastName" type="text" class="form-control" />
                                        <span asp-validation="@Model.OrderHeader.LastName" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.LastName" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Telefon</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input asp-for="@Model.OrderHeader.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation="@Model.OrderHeader.PhoneNumber" type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Gatuadress</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input asp-for="@Model.OrderHeader.StreetAddress" type="text" class="form-control" />
                                        <span asp-validation="@Model.OrderHeader.StreetAddress" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.StreetAddress" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Postnummer</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input asp-for="@Model.OrderHeader.PostalCode" type="text" class="form-control" />
                                        <span asp-validation="@Model.OrderHeader.PostalCode" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.PostalCode" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Ort</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input asp-for="@Model.OrderHeader.City" type="text" class="form-control" />
                                        <span asp-validation="@Model.OrderHeader.City" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.City" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                          
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                   
                                        <input asp-for="@Model.OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
                                   
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Orderdatum</div>
                                <div class="col-9">
                                    
                                        <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Leveranssätt</div>
                                <div class="col-9">
                                     @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input asp-for="@Model.OrderHeader.Carrier"  id="carrier" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.Carrier" readonly type="text" class="form-control" />
                                    }

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Spårningsnummer</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input asp-for="@Model.OrderHeader.TrackingNumber" id="trackingNumber" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.OrderHeader.TrackingNumber" readonly type="text" class="form-control" />
                                    }
                                   
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Sändningsdatum</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <div class="row my-1">
                                    <div class="col-3">Sessionsid</div>
                                    <div class="col-9">
                                        <input asp-for="@Model.OrderHeader.SessionId" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Betalningsid</div>
                                    <div class="col-9">                                   
                                        <input asp-for="@Model.OrderHeader.PaymentIntentId" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                            }
                                <div class="row my-1">
                                    <div class="col-3">Betalningsstatus</div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.PaymentStatus" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <button type="submit" asp-action="UpdateOrderDetails" class="btn btn-success form-control my-1 rounded mb-1"  >Uppdatera Orderdetaljer</button>
                            }

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-success">Orderdetaljer: </span>
                            </h4>
                            <label class="btn btn-outline-success form-control my-2 rounded">Orderstatus - @Model.OrderHeader.OrderStatus</label>
                            
                            <ul class="list-group mb-3">
                                @foreach (var item in Model.OrderDetail)
                                {

                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-success">@item.Product.Name</h6>
                                                <small class="text-dark">Pris : @(item.Price.ToString("c"))</small><br />
                                                <small class="text-dark">Antal : @item.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((item.Price*item.Count).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-success">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTALT </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                          
                          @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                         {
                                if (Model.OrderHeader.OrderStatus == SD.StatusApproved)
                                {
                                    <button asp-action="StartProcessing" type="submit" asp-action="StartProcessing" class="btn btn-success form-control my-1 rounded">Starta orderhantering</button>
                                }
                            @if(Model.OrderHeader.OrderStatus==SD.StatusInProcess)
                            {
                                    <button type="submit" asp-action="ShipOrder" onclick="return validateInput()" class="btn btn-success form-control my-1 rounded">Sänd order</button>
                            }
                            @if(Model.OrderHeader.OrderStatus!=SD.StatusRefunded &&
                            Model.OrderHeader.OrderStatus != SD.StatusCancelled &&
                            Model.OrderHeader.OrderStatus != SD.StatusShipped )
                            {
                                <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1 rounded">Annulera order</button>
                            }
                            
                         }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput() 
        { 
            if (document.getElementById("trackingNumber").value == "") 
            { 
                Swal.fire({
                    icon: 'error',
                    title: 'Information saknas',
                    text: 'Ange spårningsnummer!',
                });
                return false;
            
            }
           
            if (document.getElementById("carrier").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Information saknas',
                    text: 'Ange leveranssätt!',
                });
                return false;

            } 
            return true;
        
        }
    </script>
}
