@page
@model RegisterModel


<div class="card shadow border-0 mt-3">
    <div class="card-header bg-success bg-gradient ml-0 py-4 rounded">
        <div class="row">
            <div class="col-12 text-center">
               
                @if (User.IsInRole(SD.Role_Admin))
                {
                    <h3 class="text-white text-center pb-2 mb-3">Registrera användare - Administrationssida</h3>
                    <a class="btn btn-outline-primary rounded" asp-area="Admin" asp-controller="User" asp-action="Index">Tillbaka</a>
                }
                else
                {
                    <h3 class="text-white text-center pb-3 mb-4">Registrera dig som kund</h3>

                }
             
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-4">

        
        <div class="col-md-12">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
               
    
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                
                <div class="form-floating mb-3 col-12">
                    <input asp-for="Input.Email" class="form-control"  aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="text-muted">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                   
                <div class="row">
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="ms-2 text-muted">Lösenord</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword" class="ms-2 text-muted">Bekräfta lösenord</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.FirstName" class="form-control"  aria-required="true" placeholder="FirstName" />
                        <label asp-for="Input.FirstName" class="ms-2 text-muted">Förnamn</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.LastName" class="form-control"  aria-required="true" placeholder="LastName" />
                        <label asp-for="Input.LastName" class="ms-2 text-muted">Efternamn</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                   
                <div class="form-floating mb-3 col-md-12">
                    <input asp-for="Input.StreetAddress" class="form-control"  aria-required="true" placeholder="password" />
                    <label asp-for="Input.StreetAddress" class="text-muted">Gatuadress</label>
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.PostalCode" class="form-control"  aria-required="true" placeholder="password" />
                        <label asp-for="Input.PostalCode" class="ms-2 text-muted">Postnummer</label>
                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.City" class="form-control"  aria-required="true" placeholder="password" />
                        <label asp-for="Input.City" class="ms-2 text-muted">Ort</label>
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.PhoneNumber" class="ms-2 text-muted">Telefon</label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                @if(User.IsInRole(SD.Role_Admin))
                {
                    <div class="form-floating mb-3 col-md-6">
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                            <option disabled selected>--Välj roll--</option>
                        </select>
                    </div>
                }
                </div>
                <div class="col-12">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success rounded">Spara</button>
                </div>
            </form>
        </div>
            <div class="col-md-12 p-3 text-center">
                @if(!User.IsInRole(SD.Role_Admin))
                {
                  <section>
                    <p class="divider-text d-flex pt-3">eller</p>
                  
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715" >
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-success rounded" name="provider" value="@provider.Name" title="Logga in med ditt @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
                }
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
