@model SubCategoryVM

<div class="card shadow border-0 mt-4 mb-4">
    <div class="card-header bg-success- bg-gradient m-lg-0 py-2 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">@(Model.SubCategory.Id!=0?"Redigera underkategori":"Ny underkategori")</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <input asp-for="@Model.SubCategory.Id" type="hidden" />
                <div class="form-floating py-2 col-12">

                    <input asp-for="@Model.SubCategory.Name" class="form-control border-1 " />
                    <label asp-for="@Model.SubCategory.Name" class="mt-2 "></label>
                    <span asp-validation-for="@Model.SubCategory.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.SubCategory.CategoryId" asp-items="@(Model.CategoryList)" class="form-select border-0 shadow">
                        <option disabled selected>--Välj kategori--</option>
                    </select>
                    <label asp-for="@Model.SubCategory.Category" class="mt-2">Kategori</label>
                    <span asp-validation-for="@Model.SubCategory.CategoryId" class="text-danger"></span>
                </div>
               
                <div class="row mt-3">
                    @if(Model.SubCategory.Id!=0)
                    {
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-success form-control">Uppdatera</button>

                        </div>
                    }
                    else
                    {
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success form-control rounded">Spara</button>

                    </div>
                    }
                    <div class="col-6 col-md-3">
                        <a asp-controller="SubCategory" asp-action="Index" class="btn btn-primary form-control rounded">Tillbaka till listan</a>

                    </div>
                </div>

            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}