@model ShoppingCart
<form method="post">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-success bg-gradient text-light py-2">
            <div class="row">
                <input asp-for="ProductId" hidden />
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Product.Name</h3>
                    <p class="text-white-50 fw-semibold">@Model.Product.LatinName</p>
                    
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-1">
                <div row>
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-success bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Tillbaka</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3 ">
                        <img src="@Model.Product.StartImageUrl" width="100%" class="rounded" />
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">

                        <div class="col-12 col-md-4 pb-">
                            <span class="badge bg-success">@Model.Product.Category.Name</span>
                        </div>
                     
                        <div class="row pl-2 my-3">
                            <h5 class="text-dark">Beskrivning</h5>
                            <span class=" lh-sm">@Html.Raw(Model.Product.Description)</span>
                        </div>
                        <div class="row pl-2 my-3">
                            <h5 class="text-dark">Zon</h5>
                            <span>
                                @Model.Product.ZoneFrom - @Model.Product.ZoneTo
                            </span>
                        </div>
                        <div class="row">
                            <h5 class="text-dark  pb-2">
                                Pris:
                                <span>
                                    @Model.Product.Price.ToString("c")
                                </span>
                            </h5>
                        </div>
                        <div class="row pl-2 mb-3">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-success text-white border-0 fw-semibold"
                                          id="inputGroup-sizing-default">
                                        Antal
                                    </span>
                                    <input asp-for="Count" type="number" value="1" class="form-control text-end"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit" 
                                        class="btn btn-success bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                   Lägg i kundvagnen
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
