@model ShoppingCart
<form method="post">
    <div class="card shadow border-0 mt-4 mb-5">
        <div class="card-header bg-success bg-gradient text-light py-2 rounded">
            <div class="row">
                <input asp-for="ProductId" hidden />
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Product.Name</h3>
                    <p class="text-white-50 fw-semibold">@Model.Product.LatinName</p>
                    
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-1 ">
                <div row>
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-success bg-gradient mb-5 fw-semibold btn-sm text-uppercase rounded">
                            <small>Tillbaka</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center ">
                        @if(Model.Product.ProductImages!= null && Model.Product.ProductImages.Count>0)
                        {

                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    @foreach (var images in Model.Product.ProductImages
                                   .Select((image, index) => new { ProductImage = image, Index = index }))
                                    {
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@images.Index"
                                                class="@(images.Index==0?"active":"") aria-current="true" aria-label="Slide 1"></button>

                                    }
                                </div>
                                <div class="carousel-inner">
                                    @foreach (var image in Model.Product.ProductImages
                                   .Select((image, index) => new { ProductImage = image, Index = index }))
                                    {
                                        <div class="@(image.Index==0?"carousel-item active":"carousel-item")">
                                            <img src="@image.ProductImage.ImageUrl" class="d-block w-100 rounded" alt="produktbild">
                                        </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        }

                       
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">

                     
                     
                        <div class="row pl-2">
                            <h5 class="text-dark">Beskrivning</h5>
                            <span class=" lh-1">@Html.Raw(Model.Product.Description)</span>
                        </div>
                        <div class="row pl-2 ">
                            <span class="text-dark lh-1">Ljusbehov: @Model.Product.Light </span>
                         
                        </div>
                        <div class="row pl-2 ">
                            <span class="text-dark">Höjd: @Model.Product.Height</span>
                       
                        </div>
                        <div class="row pl-2">
                            <span class="text-dark lh-1 mb-3">MaxZon: @Model.Product.ZoneTo  </span>
                      
                        </div>
                        <div class="row">
                            <h5 class="text-dark mb-3">
                                Pris:
                                <span>
                                    @Model.Product.Price.ToString("c")
                                </span>
                            </h5>
                        </div>
                        <div class="row pl-2 mb-3">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-success text-white border-0 fw-semibold rounded"
                                          id="inputGroup-sizing-default">
                                        Antal
                                    </span>
                                    <input asp-for="Count" type="number" value="1" class="form-control text-end rounded"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit" 
                                        class="btn btn-success bg-gradient  w-100 py-2 text-uppercase fw-semibold rounded">
                                   Lägg i kundvagnen
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
     
       
    </div>
</form>
